[Unit]
Description=Openhab hourly script
After=network.target

[Service]
User=master
Group=master
WorkingDirectory=/srv/openhab-data/conf/
ExecStart=/srv/openhab-data/conf/bin/cron-hourly.sh

[Install]
WantedBy=multi-user.target
