# Copyright (c) Meta Platforms, Inc. and affiliates.
#
# License found in the LICENSE file in the root directory
# of this source tree.
{% set cfg = salt['pillar.get']('whatsapp-proxy', {}) %}
version: '3.3'

services:
  proxy:
    container_name: whatsapp-proxy
    image: facebook/whatsapp_proxy:latest
    network_mode: host
    restart: unless-stopped
    ports:
    {% for port in cfg.get('ports', []) %}
      - "{{ cfg.get('local_ip', '') }}:{{ port }}:{{ port }}"
    {% endfor %}
    dns:
      - 8.8.8.8
      - 4.4.4.4
    healthcheck:
      test: /usr/local/bin/healthcheck.sh
      interval: 10s
      start_period: 5s
    environment:
      - PUBLIC_IP={{ cfg.get('local_ip', '') }}
