certifi==2023.5.7
charset-normalizer==3.1.0
contextvars==2.4
distro==1.8.0
idna==3.4
immutables==0.19
Jinja2==3.1.2
jmespath==1.0.1
looseversion==1.2.0
MarkupSafe==2.1.2
msgpack==1.0.5
packaging==23.1
Pillow==9.3.0
psutil==5.9.5
pycryptodomex==3.18.0
PyYAML==6.0
pyzmq==25.0.2
qrcode==7.3.1
requests==2.31.0
salt==3006.1
salt-ssh==3003
urllib3==2.0.2
