[Unit]
Description=Auto update salt-minion
Requires=salt-minion.service
After=salt-minion.service

[Service]
Type=oneshot
RemainAfterExit=no
ExecStart=bash -c 'apt update && apt install -y salt-minion'
TimeoutStartSec=0
