[Unit]
Description=Auto update salt-minion
Requires=salt-minion.service
After=salt-minion.service

[Service]
Type=oneshot
RemainAfterExit=no
ExecStart=/bin/bash -c 'apt-get update && apt-get install --only-upgrade -y -q -o DPkg::Options::="--force-confold" --no-install-recommends salt-minion'
TimeoutStartSec=0
