[Unit]
Description=Auto update salt-minion
OnFailure=status-email@%n.service

[Service]
Type=oneshot
RemainAfterExit=no
ExecStart=/usr/sbin/salt-minion-update
TimeoutStartSec=0
