version: '3'
{% set config_vm = salt['pillar.get']('metrics:victoria-metrics') %}
{% set config_grafana = salt['pillar.get']('metrics:grafana') %}
services:
  victoria-metrics:
    container_name: victoria-metrics
    image: victoriametrics/victoria-metrics:{{ config_vm.version }}
    restart: always
    ports:
      - '127.0.0.1:{{ pillar.static.proxy_ports.vm_http }}:8428'
    command:
      - '--retentionPeriod={{ config_vm.retention }}'
    volumes:
      - /etc/timezone:/etc/timezone:ro
      - /etc/localtime:/etc/localtime:ro
      - {{ pillar.metrics.data_dir }}/victoria-metrics:/victoria-metrics-data
  grafana:
    container_name: grafana
    image: grafana/grafana:{{ config_grafana.version }}
    restart: always
    ports:
      - '127.0.0.1:{{ pillar.static.proxy_ports.grafana_http }}:3000'
    environment:
      - "GF_PATHS_CONFIG=/var/lib/grafana/grafana.ini"
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - /etc/timezone:/etc/timezone:ro
      - {{ pillar.metrics.data_dir }}/grafana/datasources:/etc/grafana/provisioning/datasources
      - {{ pillar.metrics.data_dir }}/grafana:/var/lib/grafana
