[Unit]
Description=Backup PVE service
OnFailure=status-email@%n.service

[Service]
Type=notify
RemainAfterExit=no
ExecStart=/opt/venv/app/bin/python /opt/backup/bin/backup
TimeoutStartSec=0
