# Add USB Z-Stack stick as special device to be provided by VM
# To get current attrs use command:
# udevadm info -a -p  (udevadm info -q path -n /dev/ttyUSB0)

# ZZh! Zigbee stick
# usb 1-12: new full-speed USB device number 8 using xhci_hcd
# usb 1-12: New USB device found, idVendor=1a86, idProduct=7523, bcdDevice= 2.64
# usb 1-12: New USB device strings: Mfr=0, Product=2, SerialNumber=0
# usb 1-12: Product: USB Serial
# ch341 1-12:1.0: ch341-uart converter detected

SUBSYSTEMS=="usb", KERNEL=="ttyUSB*", MODE="0666", GROUP="dialout"
